{% extends 'backOffice.html.twig' %}

{% block content %}

<div class="container-fluid">

    <section class="row bg-dark " style="background-color:yellow;">
        <h1 class="col-md-12 text-center  bg-dark text-info m-5"> Back-Office </h1>
    </section>
    <section class="row" >
        <nav class="col-md-12 navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
               
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{path('patients')}}">Gestion des Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{path('articles')}}">Gestion des Articles</a>
                    </li>
                </ul>
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Deconnexion</button>
            </div>
        </nav> 
    </section>
    <main class="row">

        <div class="container mt-5">
            <h4 class="card-title text-center">Tableau des Patients</h4><hr>

            <table class="table table-hover table-dark mt-5">
                <thead>
                    <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Jour de consultation</th>
                    <th scope="col">Heure de consultation</th>
                    <th scope="col">Fiche Patient</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">Mark</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><a href="{{path('patient-profile')}}"><i class="far fa-eye"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>


</div>   

{% endblock %}