{% extends 'Layout_front.html.twig' %}


{# {% block title %}Portfolio - Competences{% endblock %} #}

{% block content %}

 <h3 class="display-4 text-center text-warning">Accueil</h3><hr>
{% endblock %}
