{% extends 'frontLayout.html.twig' %}


{# {% block title %}Portfolio - Competences{% endblock %} #}

{% block content %}

 <br><h3 class="display-4 text-center text-warning">Page article front</h3><hr><br>
{% endblock %}