{% extends 'Layout_back.html.twig' %}


{# {% block title %}Portfolio - Competences{% endblock %} #}

{% block content %}

 <h3 class="display-4 text-center text-warning">Gestion d'un profils de membre</h3><hr>
{% endblock %}